@font-face {
  
}

#login {
  background: url(../img/stock-photo-women-reading-map-in-convertible-on-remote-road-96937879.png) center no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
#login h1 {
  margin-top: -175px;
  text-align: center;
  line-height: 1.5;
  z-index: 2;
  color: white;
}
#login .et {
  z-index: 1;
  margin-top: 50px;
  text-align: center;
  font-size: 7em;
  color: #fdc13f;
}
#login form {
  margin: 100px 20px 0px 20px;
  text-align: center;
  padding-bottom: 157px;
}
#login form input {
  background: none;
  border: solid white 0px;
  border-bottom: solid white 1px;
  border-radius: 0;
}
#login form input::-webkit-input-placeholder {
  color: white;
  font-size: 1em;
}
#login form input:-moz-placeholder {
  color: white;
}
#login form button {
  margin-top: 30px;
  text-align: center;
  padding: 5px 100px 5px 100px;
  border-radius: 50px;
  color: white;
  background-color: #fdc13f;
}
#login form button:hover {
  background-color: #ffbc45;
}
#defis {
  padding-top: 10px;
  height: 625px;
  color: white;
}
#defis .upContent {
  background-color: white;
  height: 500px;
  margin-top: 20px;
  border: #fdc13f solid 15px;
}
#defis .upContent .topblock {
  background-color: #192A4A;
  height: 350px;
  margin-left: -15px;
  margin-right: -15px;
}
#defis .upContent .topblock div {
  text-align: center;
  margin-top: 120px;
}
#defis .upContent .topblock .titre_defi {
  margin-top: 40px;
  font-size: 2em;
  margin-bottom: -10px;
}
#defis .upContent .bottomblock {
  color: black;
  height: 120px;
  margin-left: -15px;
  margin-right: -15px;
}
#defis .upContent .bottomblock p {
  color: black;
  margin-left: 10px;
  margin-top: -25px;
}
#defis .upContent .bottomblock button {
  background: url(../img/send.png) center no-repeat;
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 0px rgba(194, 194, 194, 0.5), 0px 2px 4px 0px rgba(192, 192, 192, 0.5);
  margin-left: 220px;
  margin-top: -30px;
}
#defis .upContent .bottomblock textarea {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  height: 85px;
  width: 100%;
  margin-top: -13px;
  border: none;
}
.defi2 {
  background-color: white;
  height: 500px;
  margin-top: 20px;
  border: #f1304f solid 15px;
  position: relative;
  background: url(../img/stock-photo-women-reading-map-in-convertible-on-remote-road-96937879.png) center no-repeat;
  background-size: cover;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
}
.defi2 p {
  z-index: 2;
  position: absolute;
  top: 200px;
  left: 0px;
  height: 100px;
  text-align: center;
  font-size: 2em;
}
.defi2 .image img {
  z-index: 1;
  margin-top: 200px;
  margin-left: 70px;
}












/* ===============================================================
Basic Swiper Styles
===============================================*/
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;

  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;

  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);

  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;

  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */

  /*width:200px;
  height: 100px;*/
}
.swiper-slide {
  /* Specify Slides's Size: */
  margin-right: 5%;
  /*width: 100%;
  height: 100%;*/
}
.swiper-slide-active {
  /* Specific active slide styling: */

}
.swiper-slide-active {
  /* Specific visible slide styling: */

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  /* Stylize pagination button: */

}
.swiper-active-switch {
  /* Specific active button style: */

}
.swiper-visible-switch {
  /* Specific visible button style: */

}

.swiper-container, .swiper-wrapper, .swiper-slide {
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
}
.swiper-container {
  -webkit-perspective:1200px;
  -moz-perspective:1200px;
  -o-perspective:1200px;
  perspective:1200px;
}
.swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective:1200px;
}


.swiper-slide-shadow-left, .swiper-slide-shadow-right, .swiper-slide-shadow-top, .swiper-slide-shadow-bottom {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events:none;
}
.swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */

}
.swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background: linear-gradient(-180deg, #192a4a 0%, #0a0f1a 100%);
  color: #333;
}
.featured {
  height: 160px;
  padding: 20px 0 50px;
  margin-bottom: -25px;
  background-color: #aaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #aaa, #eeeeee);
  background-image:    -moz-linear-gradient(top, #aaa, #eeeeee);
  background-image:      -o-linear-gradient(top, #aaa, #eeeeee);
  background-image:         linear-gradient(to bottom, #aaa, #eee);
}
.featured .swiper-slide {

  border-radius: 5px;
  height: 160px;
  width: 273px;

}
.featured a {
  display: block;
  width: 100%;
  height: 100%;
}

.autoplay {
  position:absolute;
  z-index:50;
}

/* COLORS */

.featured .swiper-slide:nth-child(1) {
  background: rgba(23, 23, 230, 0.8);
}

.featured .swiper-slide:nth-child(2) {
  background: rgba(43, 43, 210, 0.8);
}
.featured .swiper-slide:nth-child(3) {
  background: rgba(63, 63, 190, 0.8);
}
.featured .swiper-slide:nth-child(4) {
  background: rgba(83, 83, 170, 0.8);
}
.featured .swiper-slide:nth-child(5) {
  background: rgba(103, 103, 130, 0.8);
}
.featured .swiper-slide:nth-child(6) {
  background: rgba(123, 123, 110, 0.8);
}
.featured .swiper-slide:nth-child(7) {
  background: rgba(143, 134, 50, 0.8);
}

.featured .swiper-slide:nth-child(8) {
  background: rgba(134, 143, 50, 0.8);
}

.featured .swiper-slide:nth-child(9) {
  background: rgba(125, 143, 50, 0.8);
}